
  

<!-- === /Header === -->
<gk-header></gk-header> 
<!-- === /Header === -->
  
<!-- faq model --->
<div class="bg-light pt-1"> 
  <div class="" id="faqmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">FAQ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><!--&times;--></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid mb-5">
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-12 mt-5">
                <img src="assets/img/faq.png" class="img-responsive img-fluid">
              </div>
              <div class="col-lg-7 col-md-6 col-sm-12 my-4">
                <div id="accordion">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" data-target="#collapseOne">
                        <i class="fa fa-minus"></i>
                        What is Gurukool?
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                      <div class="card-body">
                        Gurukool is a virtual alternative to traditional home or coaching classes based "tuiring".TutorReal Guru, on Online Tutoring provider replicates traditional face to face coaching with live Online and interactive tutoring incorporating state of the art virtual methods of teaching namely- interactive whiteboards,live video chats, interaction, and sharing of teaching and learning tools and resources.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseTwo">
                        What is Gurukool?
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                       Gurukool is a virtual alternative to traditional home or coaching classes based "tuiring".TutorReal Guru, on Online Tutoring provider replicates traditional face to face coaching with live Online and interactive tutoring incorporating state of the art virtual methods of teaching namely- interactive whiteboards,live video chats, interaction, and sharing of teaching and learning tools and resources.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseThree">
                        What is Gurukool?
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                       Gurukool is a virtual alternative to traditional home or coaching classes based "tuiring".TutorReal Guru, on Online Tutoring provider replicates traditional face to face coaching with live Online and interactive tutoring incorporating state of the art virtual methods of teaching namely- interactive whiteboards,live video chats, interaction, and sharing of teaching and learning tools and resources.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--- faq model --->
</div>
 
<!-- === /Footer === -->
<gk-footer></gk-footer>  
<!-- === /Footer === -->

