<div>
  

<!-- === /Header === -->
<gk-header></gk-header> 
<!-- === /Header === -->


<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" data-target="Carousel"> </div>
        <div class="carousel-item"  data-target="Carousel"></div>
        <div class="carousel-item" data-target="Carousel"></div>
    </div>
      <span class="carousel-control-prev left" data-target="#Carousel"  role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </span>
      <span class="carousel-control-next right" data-target="#Carousel"  role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </span>
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  </div>
</section>
  <!-- ======= /Hero Section ======= -->

  <!-- ======= Course Section ======= -->
  <!--<section>
    <div class="container-fluid bg-primaryi">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-12 col-sm-12 text-white mt-4 mr-2">
          <p class="h4">Find The Course</p>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12 px-4 mr-4 mt-4 primaryii">
          <select class="form-control" ng-model="user.type">
            <option disabled selected value="">User Type</option>
            <option ng-repeat="uT in userType">{{uT}}</option>  
          </select>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12 px-4  mr-4 mt-4 primaryii">
          <select class="form-control" ng-model="user.board">
            <option disabled selected value="">Board</option>
            <option ng-repeat="bT in boardType">{{bT}}</option>
          </select>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12 px-4  mr-4 mt-4 primaryii">
          <select class="form-control" ng-model="user.class">
            <option disabled selected value="">Level</option>
            <option ng-repeat="cT in classType">{{cT}}</option>
          </select>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12 px-4  mr-4 mt-4 primaryii">
          <select class="form-control"  ng-model="user.subject">
            <option disabled selected value="">Subject</option>
            <option ng-repeat="sT in subjectType">{{sT}}</option>
          </select>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12"></div>
        <div class="col-lg-3 col-md-12 col-sm-12 def">
          <button type="button" class="btn btn-transparent rounded-pill btn-lg button-search" ng-click="userSearchButton()">Search Now</button>
        </div>
      </div>
    </div>
  </section>-->
  <!-- ======= /Course Section ======= -->

  <!-- ====Course Categories ===--->
  <section class="our-course-categories-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ml-auto mr-auto">
          <div>
            <h3 class="text-blue text-center">WELCOME TO GURUKOOL</h3>
            <h2 class="text-center text-muted font-weight-bolder"> OUR COURSE CATEGORIES</h2>
            <p class="text-center">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a pi classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>          
          </div>
        </div>
      </div>
      <div class="row" id="course_categories">
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="single-course-categories bg-success">
            <div class="item-inner">
              <div class="cours-icon">
                <img src="assets/img/icon-01.png" alt="" height="50">
              </div>
              <div class="mt-4">
                <h5>Photoshop</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="single-course-categories bg-warning">
            <div class="item-inner">
              <div class="cours-icon">
                <img src="assets/img/icon-02.png" alt="" height="50">
              </div>
              <div class="mt-4">
                <h5>Illustration</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="single-course-categories bg-primary">
            <div class="item-inner">
              <div class="cours-icon">
                <img src="assets/img/icon-03.png" alt="" height="50">
              </div>
              <div class="mt-4">
                <h5>Photography</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="single-course-categories brilliantrose">
            <div class="item-inner">
              <div class="cours-icon">
                <img src="assets/img/icon-04.png" alt="" height="50">
              </div>
              <div class="mt-4">
                <h5>HTML &amp; CSS</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="single-course-categories bg-info">
            <div class="item-inner">
              <div class="cours-icon">
                <img src="assets/img/icon-05.png" alt="" height="50">
              </div>
              <div class="mt-4">
                <h5>Development</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
          <div class="single-course-categories deyork">
            <div class="item-inner">
              <div class="cours-icon">
                <img src="assets/img/icon-06.png" alt="" height="50">
              </div>
              <div class="mt-4">
                <h5>Flim &amp; Media</h5>
              </div>
            </div>
          </div>
        </div>
      </div><!---/ row---->

      <!---Mobile View Course Categories --->
       <div class="top-content" id="mobile_view_course">
          <div class="container">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                  <div class="single-course-categories bg-success">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/img/icon-01.png" alt="" height="50">
                      </div>
                      <div class="mt-4">
                        <h5>Photoshop</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <div class="single-course-categories bg-warning">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/img/icon-02.png" alt="" height="50">
                      </div>
                      <div class="mt-4">
                        <h5>Illustration</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <div class="single-course-categories bg-primary">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/img/icon-03.png" alt="" height="50">
                      </div>
                      <div class="mt-4">
                        <h5>Photography</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <div class="single-course-categories brilliantrose">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/img/icon-04.png" alt="" height="50">
                      </div>
                      <div class="mt-4">
                        <h5>HTML &amp; CSS</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <div class="single-course-categories bg-info">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/img/icon-05.png" alt="" height="50">
                      </div>
                      <div class="mt-4">
                        <h5>Development</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <div class="single-course-categories deyork">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/img/icon-06.png" alt="" height="50">
                      </div>
                      <div class="mt-4">
                        <h5>Flim &amp; Media</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---Mobile View Course Categories ---> 
      <div class="text-center mt-5">
        <a href="#" class="btn btn-primary">View all courses</a>
      </div>
    </div><!---/ container -->
  </section>  
  <!-- ====/Course Categories ==-->

  <!-- ======= Important Facts Section ======= -->
  <section>
    <div class="container-fluid bg-dark py-5 text-white">
      <div>
        <h2 class="text-center font-weight-bolder">IMPORTANT FACTS</h2>
        <p class="text-center">There are many variations of passages of Lorem Ipsum</p>
        <div class=" row">
          <p class="abcd mt-2 "></p>
          <i class="fa fa-graduation-cap  "></i>
          <p class="abcde mt-2"></p>
        </div><!-- /row -->
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <h2>Teachers</h2>
          <p class="abc"></p>
          <h2 class="font-weight-bolder display-3">79+</h2>
        </div>
        <div class="col-md-4">
          <h2>Students</h2>
          <p class="abc"></p>
          <h2 class="font-weight-bolder  display-3">490+</h2>
        </div>
        <div class="col-md-4">
          <h2>Subjects</h2>
          <p class="abc"></p>
          <h2 class="font-weight-bolder  display-3">27+</h2>
        </div>  
      </div><!-- /row -->  
    </div><!-- /container -->
  </section>
  <!-- ======= /Important Facts Section ======= -->

  <!-- ======= About Section ======= -->
  <section id="gkAbout">
    <div class="container">
      <div>
        <h3 class="text-blue text-center">INTRODUCTION GURUKOOL</h3>
        <h2 class="h1 text-center text-muted font-weight-bolder">ABOUT US</h2>
        <p class="text-center">Contrary to popular belief,Lorem Ipsum is not simply random text .It has roots in a pi classical <br>Latin literaturefrom 45BC, makingit over2000 years old.Richard McClinkton.</p>
      </div>
      <div class="row">
        <div class="col-md-4 pt-5" id="about_img_1" >
          <img src="assets/img/who_areyou_img.png" class="img-responsive img-fluid">
        </div>
        <div class="col-md-7 pt-5">
          <p>Gurukool is a virtual alternative to traditional home or coaching classes based "tuiring".TutorReal Guru, on Online Tutoring provider replicates traditional face to face  coaching with live Online and interactive tutoring incorporating state  of the art virtual methods of teaching  namely- interactive  whiteboards,live video chats, interaction, and sharing of teaching and learning tools and resources.</p> <span id="dots"></span>
          <p id="more">Gurukool is a part of multinational knowlegdegucate Group of instutions headquartered   UAE. Knowledgucate owns and operates a chain of playschool,k-12 schools,Pre-University Colleges,Undergraduate nad Postgraduate degree colleges as well as University in India.It also owns  and operates educational institutions  in the  UAE and  the United Kingdom besides  offering programmes in the Online space.</p>

          <p id="know_more">Know more about how this works?</p>

          <div class="mx-5 mt-3">
            <button type="button" class="btn btn-primary" onclick="read()" id="myBtn">Read More</button>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 pt-5" id="about_img" >
          <img src="assets/img/who_areyou_img.png" class="img-responsive img-fluid">
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
  </section>
  <!-- ======= About Section ======= -->

  <!-- ======= Feedback Section ======= -->
  <section class="bg-light">
    <div class="container">
      <div>
        <h3 class="text-blue text-center h2 pt-3">FEEDBACK & REVIEW</h3>
        <h2 class="h1 text-center text-muted font-weight-bolder">VIDEO & TESTIMONIAL</h2>
        <p class="text-center">Contrary to popular belief,Lorem Ipsum is not simply random text .It has roots in a pi classical <br>Latin literaturefrom 45BC, makingit over2000 years old.Richard McClinkton.</p>
      </div >
        <!--for videos part-->
      <div class="container pt-5 pb-5">
        <div id="demo" class="carousel slide" data-ride="carousel">  
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-3">
                  <div class="card mb-2">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fG1oNm2tCro" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-3 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sBRN4fdu_74" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-3 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n49ki7qUXmg" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-3 clearfix d-none d-md-block">
                 <div class="card mb-2">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NeGWwIxyKKQ" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /container -->
  </section>  
  <!-- ======= /Feedback Section ======= -->
  

  <!-- === /Footer === -->
  <gk-footer></gk-footer>  
  <!-- === /Footer === -->

</div>

  