    <!-- === /Header === -->
    <gk-header></gk-header> 
    <!-- === /Header === -->

  
    <!--student registration form-->
 
    <div class="container bg-light pb-27vh"  id="first">
                <div class="row justify-content-center">
                    <!----First part of Registration form ----->
                    <div class="col-lg-9 col-md-12 " id="step1">
                      <h2 class="h1 text-center text py-3">Registration Form</h2>	
                      <h5>Personal Details</h5>
                       <form name="regStudetForm">
                          <div class="row">
                              <div class="col-md-6 p-2">
                                   <input type="text" class="bg-light form-control" placeholder="Enter Name" ng-model="regStudent.name" required>
                              </div>
                              <div class="col-md-6 p-2">
                                   <input type="text" class="bg-light form-control" placeholder="Enter Preferred Username" ng-model="regStudent.userName" required>
                              </div>
                              <div class="col-md-6 p-2">
                                   <input type="password" class="bg-light form-control" placeholder="Enter password" ng-model="regStudent.password" required>
                              </div>
                              <div class="col-md-6 p-2">
                                   <input type="date" class="bg-light form-control" placeholder="Date of Birth" ng-model="regStudent.dob" required>
                              </div>
                              <div class="col-md-6 p-2">
                                   <input type="text" class="bg-light form-control" placeholder="Gender" ng-model="regStudent.gender" required>
                              </div>
                              <div class="col-md-6 p-2">
                                   <input type="number" class="bg-light form-control" placeholder="Mobile Number" ng-model="regStudent.mobile" required>
                              </div>
                              <div class="col-md-6 p-2">
                                   <input type="email" class="bg-light form-control" placeholder="Enter Gmail Id" ng-model="regStudent.gmail" required>
                              </div>
                              <div class="col-md-6 p-2">
                                   <input type="email" class="bg-light form-control" placeholder="Alternate Email Id" ng-model="regStudent.altGmail" required>
                              </div>
                              <div class="col-md-6 m-2">
                                  <div class="row">
                                     <input type="file" id="myFileInput" class="col-md-7 bg-light form-control" placeholder="Upload Image" ng-model="regStudent.file" required>
                                     <button type="button" class=" col-md-5 text-white btn-sm blue font-weight-bold border-0" onclick="document.getElementById('myFileInput').click()">Choose File</button>
                                     
                                </div>
                              </div>
                          </div>
                        <div class="text-right">
                           <button type="button " class="btn-primary px-5 py-2 border-0 my-4 mt-5 ml-5" onclick="next1()">Next</button>
                        </div>
                      </form>
                    </div>
          
                    <!----Second part of Registration form ----->
          
                    <div class="col-lg-9 col-md-12" id="step2">
                      <div class="registration-form p-4">
                          <h2 class="h1 text-center text py-3">Registration Form</h2>
                          <h5>Location Details</h5>
                          <form>
                            <div class="row">
                                <!--<div class="col-md-6 p-2">
                                     <input type="text" class="bg-light form-control" placeholder="Address" ng-model="regStudent.address" required>
                                </div>-->
                                <div class="col-md-6 p-2">
                                     <input type="text" class="bg-light form-control" placeholder="City" ng-model="regStudent.city" required>
                                </div>
                                <!--<div class="col-md-6 p-2">
                                     <input type="text" class="bg-light form-control" placeholder="State" ng-model="regStudent.state" required>
                                </div>-->
                                <div class="col-md-6 p-2">
                                     <input type="text" class="bg-light form-control" placeholder="Country" ng-model="regStudent.country" required>
                                </div>
                                <!--<div class="col-md-6 p-2">
                                     <input type="number" class="bg-light form-control" placeholder="Pincode" ng-model="regStudent.pinCode" required>
                                </div>-->
                            </div>
                          </form>
                          <div class="button mt-2">
                            <button type="button" class="btn-primary px-5 py-2 border-0" onclick="previous1()">Previous</button>
                            <button type="button" class="btn-primary px-5 py-2 border-0 float-right" onclick="next2()">Next</button>
                          </div>
                      </div>
                    </div>
          
                    <!----Third part of Registration form ----->
          
                    <div class="col-lg-9 col-md-12 h-50" id="step3">
                      <div class="registration-form p-4">
                        <h2 class="h1 text-center text py-3">Registration Form</h2>
                        <h5>Institute Details</h5>
                          <form name="regStudentForm">
                            <div class="row">
                                <div class="col-md-6 p-2">
                                    <input type="text" class="bg-light form-control" placeholder="Institute Association" ng-model="regStudent.institute" required>
                                </div>
                                <div class="col-md-6 p-2">
                                    <label>using Institute registry</label><br>
                                    <label><input type="radio" name="optradio" class="ml-3"> Yes</label>
                                    <label class="ml-5"><input type="radio" name="optradio "> No</label>
                                </div> 
                                <!--<div class="col-md-6 p-2">
                                    <select name="board" class="bg-light custom-select" ng-model="regStudent.board" required>
                                      <option selected disabled value="">Select Board</option>
                                      <option ng-repeat="x in regStudentBoard" value="{{x}}">{{x}}</option>
                                    </select>
                                </div>    
                                <div class="col-md-6 p-2">
                                    <select name="board" class="bg-light custom-select" ng-model="regStudent.class" required>
                                      <option selected disabled value="">Select Class</option>
                                      <option ng-repeat="x in regStudentClass" value="{{x}}">{{x}}</option>
                                    </select>
                                </div>    
                                <div class="col-md-6 p-2">
                                    <select name="board" class="bg-light custom-select" ng-model="regStudent.subject" required>
                                      <option selected disabled value="">Select Subject</option>
                                      <option ng-repeat="x in regStudentSubject" value="{{x}}">{{x}}</option>
                                    </select>
                                </div>-->     
                              </div>
                          </form>
                          <h5>Prefered Class Details +</h5>
                          <div class="row">
                              <!--<div class="col-md-6 p-2">
                                <input type="text" class="bg-light form-control" placeholder="Enter Board" ng-model="regStudent.classDetail" required>
                              </div>-->
                              <div class="col-md-6 p-2">
                                <input type="text" class="bg-light form-control" placeholder="Enter Skill" ng-model="regStudent.subject" required>
                              </div>
                              <div class="col-md-6 p-2">
                                <input type="text" class="bg-light form-control" placeholder="Enter Level" ng-model="regStudent.cClass" required>
                              </div>
                              <div class="col-md-6 p-2">
                                <input type="text" class="bg-light form-control" placeholder="Enter Duration" ng-model="regStudent.cDuration" required>
                              </div>
                              <div class="col-md-6 p-2">
                                <input type="text" class="bg-light form-control" placeholder="Gurudakshina" ng-model="regStudent.fee" required>
                              </div>
                              <div class="col-md-6 p-2">
                                <select name="board" class="bg-light custom-select" ng-model="regStudent.mode" required>
                                    <option selected disabled value="">Mode (per class/month)</option>
                                    <option ng-repeat="x in regStudentMode" value="{{x}}">{{x}}</option>
                                </select>
                              </div>  
                          </div>
                          <div class="button mt-2">
                            <button type="button" class="btn-primary px-5 py-2 border-0" onclick="previous2()">Previous</button>
                            <button type="button" class="btn-primary px-5 py-2 border-0 mx-4 btn-submit float-right" ng-click="regStudentSubmit()"  ng-disabled="regStudentForm.$invalid">Submit</button>
                          </div>  
                       </div>
                    </div>
                </div>
    </div>
            
    <!-- === /Footer === -->
    <gk-footer></gk-footer>  
    <!-- === /Footer === -->	