
    <main>
        <section>
            <div class="container-fluid bg-primary">
                <div class="row">
                    <h2 class="text-white py-5 px-5">Notification</h2>
                    <p class=" text-white ml-auto px-5"><i class="fa fa-times fa-3x"></p></i>
                </div>
            </div>
            <div class="container text-center">
                <img class="mt-5 fix" src="../../../../assets/img/indian-students.png">
                <p class="my-3">Upcoming Classes</p>
                <h3>JavaScript</h3>
                <h4>3-4 PM</h4>
                <h4>24 Sep 2020</h4>
                <div class="row">
                    <button type="button" class="btn btn-primary rounded-pill px-5 ml-auto mr-5" >Accept</button>
                    <button type="button"  class="btn btn-primary rounded-pill px-5 mr-auto ml-5">Reject</button>
                </div>
            </div>
        </section>
    </main>
