	
	<!-- === /Header === -->
    <gk-header></gk-header> 
    <!-- === /Header === -->
    

	<!-- === /Body === -->
	<div class="container-fluid bg-light1">
		<div class="container">
			<div class="card mt-2">
				<form class="row" name="editTeacherPortfolioForm">
					<div class="col-md-4">
						<img class="card-img-top " src="assets/img/student.png" alt="Card image">
					</div>
					<div class="col-md-4">	
						<div class="pl-1">
							<h3 class="pt-1">Teacher Name</h3>
							<p class="text-secondary">Intermediate</p>
						</div>
						<div class="pb-2 pl-1 pr-1">
							<div class=""><i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="text-secondary"> Ph.d, B.tech</span></div>
							<div class="pl-md-4 pr-md-4 pr-2 pl-2 ">
								<input type="text" class="form-control-sm form-control " placeholder="Ph.d, B.tech" ng-show="edit.profiles" ng-modal="teacher.editDegree">
							</div>
						</div>
						<div class="pb-2 pl-1 pr-1">
							<div><i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="text-secondary"> Passout University</span></div>
							<div class="pl-md-4 pr-md-4 pr-2 pl-2">
								<input type="text" class="form-control-sm form-control" placeholder="Passout University" ng-show="edit.profiles" ng-modal="teacher.editUniversity">
							</div>
						</div>
						<div class="pb-2 pl-1 pr-1">
							<div><i class="fa fa-map-marker" aria-hidden="true"></i><span class="text-secondary">  Mountain View, CA</span></div>
							<div class="pl-md-4 pr-md-4 pr-2 pl-2">
								<input type="text" class="form-control-sm form-control" placeholder="Mountain View, CA" ng-show="edit.profiles" ng-modal="teacher.editAddress">
							</div>
						</div>
						<div class="pb-2 pl-1 pr-1">
							<div><i class="fa fa-envelope" aria-hidden="true"></i><span class="text-secondary"> info@gmail.com</span></div>
							<div class="pl-md-4 pr-md-4 pr-2 pl-2">
								<input type="email" class="form-control-sm form-control" placeholder="info@gmail.com" ng-show="edit.profiles" ng-modal="teacher.editEmail">
							</div>
						</div>
						<div class="pb-2 pl-1 pr-1">
							<div><i class="fa fa-phone" aria-hidden="true"></i><span class="text-secondary"> +91 1234567890</span></div>
							<div class="pl-md-4 pr-md-4 pr-2 pl-2">
								<input type="text" class="form-control-sm form-control" placeholder="+91 1234567890" ng-show="edit.profiles" ng-modal="teacher.editMobile">
							</div>
						</div>
						<div class="pb-2 pl-1 pr-1">
							<div><i class="fa fa-codiepie text-warning" aria-hidden="true"></i><span class="text-secondary"> 200 Teacher Gurudakshina</span></div>
							<div class="pl-md-4 pr-md-4 pr-2 pl-2">
								<input type="text" class="form-control-sm form-control" placeholder="200 " ng-show="edit.profiles" ng-modal="teacher.editGD">
							</div>
						</div>
						<p class="pl-2 text-warning"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><span class="text-secondary"> 3.6</span></p>	
					</div>		
					<div class="col-md-4 text-center">
						<div class=" text-center">
							<button type="button" class="btn btn-primary m-2 px-4" ng-click="edit.profiles = !edit.profiles" ng-show="!edit.profiles">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-primary m-2 px-4" ng-click="saveTeacherProfile()" ng-show="edit.profiles">Save <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-primary m-2 px-3" ng-click="logOut()">Log out</button>
						</div>
					</div>		
				</form>
			</div>
			<div class="row mt-4">
				<!--=== /Mobile View ===-->
				<div class="col-md-4 d-block d-md-none">
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-warning text-white text-center pt-3" ng-click="showDetailsBox1 = !showDetailsBox1">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6 transition-1" ng-show="showDetailsBox1">
								<h3>126</h3>
								<p>Total Classes</p>
							</div>
						</div>
					</div>
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-success text-white text-center pt-3" ng-click="showDetailsBox2 = !showDetailsBox2">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6" ng-show="showDetailsBox2">
								<h3>JavaScript</h3>
								<p>Next Class</p>
							</div>
						</div>
					</div>
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-danger text-white text-center pt-3" ng-click="showDetailsBox3 = !showDetailsBox3">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6" ng-show="showDetailsBox3">
								<h3>11,260</h3>
								<p>Total Lecture Hour</p>
							</div>
						</div>
					</div>
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-info text-white text-center pt-3" ng-click="showDetailsBox4 = !showDetailsBox4">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6" ng-show="showDetailsBox4">
								<h3>1,260</h3>
								<p>Active Student Count</p>
							</div>
						</div>
					</div>
				</div>
				<!--=== /Mobile View ===-->
				<div class="col-md-8">
					<form class="card my-3" name="editTeacherPortfolioForm">
						<div class="card-header">
							<span class="h4">Portfollio</span>
							<button type="button" class="btn btn-primary px-3 float-right" ng-click="edit.profilePortfolio = !edit.profilePortfolio" ng-show="!edit.profilePortfolio">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-primary px-3 float-right" ng-click="teacherSavePortfolio()" ng-show="edit.profilePortfolio">Save <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
						</div>
						<div class="card-body text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</div> 
					    <div class="border-top p-2" ng-show="edit.profilePortfolio">
							<span class="text-dark pl-1"><u class="mb-1">Edit</u></span>
							<textarea class="form-control pt-2" ng-model="teacher.editPortfolio" name="editPortfolio" rows="10"  placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.">
	
							</textarea>
						</div>
					</form>
					<form class="card my-3" name="editTeacherSubjectForm">
						<div class="card-header">
							<span class="h4">Subject</span>
							<button type="button" class="btn btn-primary  mx-2 px-3 float-right" ng-click="edit.profileAddSubject = !edit.profileAddSubject" ng-show="!edit.profileAddSubject">Add <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-primary  mx-2 px-3 float-right" ng-click="teacherAddSubject()" ng-show="edit.profileAddSubject">Save <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
						</div>
					    <div class="card-body">
							<p class="text-secondary">
								<span ng-repeat="x in studentSubject">{{x}}<br></span>
							</p>
						</div> 
						<div class="form-group pl-2 pr-2 border-top" ng-show="edit.profileAddSubject">
							<label class="float-left text-secondary"><u>Add Subject</u></label>
							<input type="text" name="addSubject" class="form-control" ng-model="teacher.addSubject" placeholder="Add Subject">
						</div>
					</form>
					<form class="card my-3" name="editTeacherInstitutionForm">
						<div class="card-header">
							<span class="h4">Institution Association</span>
							<button type="button" class="btn btn-primary p-2 mx-2 px-3 float-right" ng-click="edit.profileAddInstitution = !edit.profileAddInstitution" ng-show="!edit.profileAddInstitution">Add <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-primary p-2 mx-2 px-3 float-right" ng-click="teacherAddInstitution()" ng-show="edit.profileAddInstitution">Save <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
						</div>
						<div class="card-body text-secondary">
							<p ng-repeat="x in institutionAssociation">{{x.college}}<br>{{x.subject}}</p>
						</div> 
						<div class="card-body text-secondary border-top " ng-show="edit.profileAddInstitution">
							<p><u>Add Institution</u></p>
							<div class="form-group">
								<input type="text" class="form-control" name="addinstitutionDegree" ng-model="teacher.addInstitutionDegree" placeholder="Degree">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="addinstitutionUnviersity" ng-model="teacher.addInstitutionUniversity" placeholder="Passout University">
						    </div>
						</div> 
					</form>
					<form class="card my-3" name="editsTeacherScheduleForm">
						<div class="card-header">
							<span class="h4">Schedule</span>
							<button type="button" class="btn btn-primary p-2 mx-2 px-3 float-right">Add <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
						</div>
						<div class="card-body">
									<div class="col-md-8">
										<div class="row">
											<div class="col-md-6 px-1">
												<select name="board" class="bg-light custom-select">
													<option ng-repeat="x in week" value="{{x.day}} {{x.select}}">{{x.day}}</option>
												</select>
											</div>
											<div class="col-md-6 px-1">
												<select name="board" class="bg-light custom-select">
												<option selected>Available Time Slot</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
												</select>
											</div>
										</div>
								<div class="row mt-2">
											<div class="col-md-6 px-1">
										<select name="board" class="bg-light custom-select">
										<option selected>Hours</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										</select>
								</div>
								</div>
							</div>
							<div class="pt-2 pb-2">
								<button type="button" class="btn btn-primary px-3 mx-2 px-4 float-right">Cancel</button>
								<button type="button" class="btn btn-primary px-4 mx-2 px-4 float-right">Add</button>
							</div>
						</div>                 	 
					</form>
				</div>
				<!--=== /System View ===-->
				<div class="col-md-4 d-none d-md-block">
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-warning text-white text-center pt-3">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6">
								<h3>126</h3>
								<p>Total Classes</p>
							</div>
				        </div>
					</div>
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-success text-white text-center pt-3">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6">
								<h3>JavaScript</h3>
								<p>Next Class</p>
							</div>
						</div>
					</div>
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-danger text-white text-center pt-3">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6">
								<h3>11,260</h3>
								<p>Total Lecture Hour</p>
							</div>
						</div>
					</div>
					<div class="card my-3">
						<div class="row px-3">
							<div class="col-md-4 bg-info text-white text-center pt-3">
								<i class="fa fa-book fa-2x"></i>
							</div>
							<div class="col-md-8 col-sm-6">
								<h3>1,260</h3>
								<p>Active Student Count</p>
							</div>
						</div>
					</div>
				</div>
				<!--=== /System View ===-->
			</div>
		</div>
	</div>
    <!-- === /Body === --> 


    <!-- === /Footer === -->
    <gk-footer></gk-footer>  
    <!-- === /Footer === -->